@font-face {
  font-family: 'Bold';
}
body {
    background:  radial-gradient(circle, #FFF, #888);
    padding-top: 2%;
    height: 100vh;
    font-family: Roboto;
}

.container {
    width: 94%;
}
:focus {
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
.calculator {
    background: #FFFFFF;
    box-shadow: 2px 3px 6px #C2C2C2;
}
.displayBox {
    background: #000000;
    padding: 0;
    min-height: 220px;
    overflow: hidden;
}
.displayText {
    margin-top: 110px;
    background: transparent;
    border: none;
    color: #FFF;
    font-size: 80px;
    font-weight: 100;
    padding-right: 20px;
    padding-bottom: -10px;
    float: right;
    display: inline-block;
    overflow: hidden; 
}

.operationSide {
    background: #FFF;
    margin-top: -14px;
    padding: 0;
    padding-left: -20px;
    padding-top: 10px;
    border-left: 1px solid #E5E5E5;
}
.numberPad {
    padding-top: 14px;
}
.btn-calc,
.btn-calc:focus {
    background: transparent;
    color: #A2A2A2;
    font-size: 25px;
    width: 75px;
    height: 75px;
    font-weight: 100;
    border-radius: 100px;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: none;
}
.btn-calc:hover {
    background: #FFF;
    color: #03A9F4;
}
.btn-operation {
    background: transparent;
    color: #999;
    font-size: 25px;
    /*width: 97px;*/
    width: 100%;
    height: 80.8px;
    font-weight: 100;
    border-radius: 0;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
}
.btn-operation:focus {
    background: #E8E8E8;
    color: #444;
    outline: 0;
}
.btn-operation:hover {
    background: #E8E8E8;
    color: #444;
}
.equals,
.equals:focus {
    background: #000000;
    color: #FFF;
}
.equals:hover {
    background: #049ADE;
    color: #FFF;
}
.clear,
.clear:focus {
    background: #000000 ;
    color: #FFF;
    font-size: 25px;
    width: 75px;
    height: 75px;
    font-weight: 100;
    border-radius: 100px;
    outline: none;
    box-shadow: 0px 0px 0px transparent;
    border: transparent;
}
.clear:hover {
    background: #03A9F4;
    color: #FFF;
}






