/* Input text box css */
		input {
			background-color: #000;
			height: 50px;
			font-style: bold;
			width: 210px;
			color: white;
			font-size: x-large;
		}

		/* All number css */
		.number {
			background-color: #000000;
			border-radius: 10px;
			border-color: #A1A1AF;
			width: 50px;
			height: 40px;
			border-style: solid;
		}

		
      /* All other than number  css */
		.other {
			background-color: #000;
			border-color: #A1A1AF;
			border-radius: 10px;
			width: 50px;
			height: 40px;
			border-style: solid;
		}

		/* clear button css */
		.clear {
			width: 110px !important;
		}

		/* All number css */
		table {
			border: 2px solid #ccc;
			border-radius: 10px;
			padding: 20px;
			padding-bottom: 30px;
			background: grey;

			border-radius: 3px;
			box-shadow: 0px 4px #A1A1AF, 0px 10px 15px rgba(0, 0, 0, 0.2);
		}

		input.number:hover,
		input.plus:hover,
		input.other:hover {
			background-color: gray;
			color: white;
			cursor: pointer;
		}

		input.number,
		input.plus,
		input.other {
			color: white;
		}

		.over {
			background-color: black;
			width: 200px;
			padding: 25px;
			border: 2px solid;
			margin-top: 30px;
			margin-left: 350px;
			z-index: 10;
		}